@use 'Src'; //basic sources file
// components
@use "header";
@use "hero";
@use "about";
@use "services";
@use "comments";


// header.jsx
header {
    position: fixed;
    width: 100%;
}

// section Hero in App.js
section.Hero {
    min-height: 100vh;
    @include Src.flexbox();
    justify-content: center;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.76) 0%, #00000088 100%), url('../img/heroBgIimage.svg') no-repeat center center / cover;
    background-attachment: fixed;
    background-size: cover;
}

// About section in App.js
section.About {
    background: url('../img/MapBg.svg') no-repeat center center /cover, rgba($color: #000000, $alpha: .6);
    padding: 45px 0 117px 0;
    // mix-blend-mode:difference;
}

// Services section in App.js
section.Services {
    background: url('../img/servicesImg.svg') no-repeat center center / cover, rgba(0, 0, 0, .7);
    background-attachment: fixed;
}

// Comments section in App.js
section.Comments {
    min-height: 850px;
    background: linear-gradient(180deg, rgba(64, 64, 64, 0.8) 0%, rgba(0, 0, 0, .3) 100%), url('../img/commentsImg.svg') no-repeat center center / cover;
}